@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  :root,
  .theme-light {
    overflow-x: hidden;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark,
  .theme-dark {
    overflow-x: hidden;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .comfort {
    overflow-x: hidden;
    --background: 60 5% 96%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 5% 96%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 5% 96%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 20 5.9% 46.1%;
    --accent: 173.4 80.4% 40%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 5% 96%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
  }

  .minimal {
    overflow-x: hidden;
    --background: 0 0% 98%;
    --foreground: 0 0% 9%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 0 0% 45%;
  }

  .cyberpunk {
    overflow-x: hidden;
      --background: 0 0% 0%;
      --foreground: 48 100% 60%;
      --card: 0 0% 3%;
      --card-foreground: 48 100% 47%;
      --popover: 0 0% 3%;
      --popover-foreground: 48 100% 47%;
      --primary: 180 100% 50%;
      --primary-foreground: 0 0% 0%;
      --secondary: 0 0% 7%;
      --secondary-foreground: 48 100% 47%;
      --muted: 0 0% 7%;
      --muted-foreground: 48 100% 47%;
      --accent: 328 100% 54%;
      --accent-foreground: 0 0% 0%;
      --destructive: 0 100% 50%;
      --destructive-foreground: 0 0% 0%;
      --border: 180 100% 50%;
      --input: 180 100% 50%;
      --ring: 180 100% 50%;
    
  }
  
  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

